

/*Paleta de cores*/

/* :root{
    marinho-saturado: #001A48
    Amarelo destaque: #FFC400
    branco: #FFFFFF
    Vermelho: #D92D20
    Cinza texto: #5F6670
}  */ 






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

a{
    text-decoration: none;
}

header{
    z-index: 5;
    padding: 5px;
    a{
        font-family: Poppins, sans-serif;
        font-weight: bold;
    }

    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;

    img{
        width: 200px;
        
    }

    nav{
        display: flex;
        align-items: center;
        gap: 20px;

        span{
            color: #FFC400;
        }

        a{
            color: black;

            &:hover{
            
                color: #FFC400;
            }
        }

        button{
            padding: 15px;
            background-color: #FFC400;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 8px;

            &:hover{
                background-color: white;

                border: solid 1px #FFC400;
                color: #FFC400;
            }
        }
    }
    
    .arcoheader{
        position: absolute;
        width: 100%;
        
        top: -1;
    }

}

.hero{
    display: flex;
    position: relative;
    width: 100%;
    background-position: center;
    background-image: url(/imagens/Hero\ 1.png);
    background-size: cover;

    .BolaNatalina1{
        position: absolute;
        z-index: 2;
        right: 1350px;
        height: 150px;
    }
    .BolaNatalina2{
        position: absolute;
        z-index: 2;
        right: 1250px;
        height: 180px;
    }

   .ElementoMenina{
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0;
    }



    .heroesquerda{
        width: 50%;
        display: flex;
        flex-direction: column;
        z-index: 1;

        .h1esquerda{
            position: absolute;
            top: 30%;
            font-size: 40px;

            .h1-1{
                margin-left: 90px;
            }
            .h1-2{
                margin-left: 160px;
            }
            .h1-3{
                margin-left: 200px;
                
            }

            p{
                position: absolute;
                top: 110%;
                font-size: 20px;
                margin-left: 200px;
            }

         }
    }
    
    .herodireita{
        width: 50%;

        .meninahero{
            bottom: 0;
        }
    }
    

}


.CarrosselInfinito{
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 404px){
        display: flex;
        flex-direction: column;
    }
}

.Card{
    display: flex;
    flex-direction: column;
    
    .cards1{
        background-image: url(/imagens/Card\ 1.png);
        background-size: cover;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        .textocard{
            
            margin-left: 20%;
        }
    }
    .cards2{
        background-image: url(/imagens/Card\ 2.png);
        background-size: cover;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        .textocard{
            
            margin-left: 20%;
        }
    }
    .cards3{
        background-image: url(/imagens/Card\ 1.png);
        background-size: cover;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        .textocard{
            
            margin-left: 20%;
        }
    }

}
