*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libertinus Math", system-ui;
}
/* Cabeçalho do Site */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20PX;
    padding-right: 20PX;
    background-color: bisque;

    .Menu{
      display: flex;
      gap: 24px;
      a{
        text-decoration: none;
        color: cadetblue;
        font-weight: 700;
      }
    }
}

.sobre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.Sobre-texto{
    padding: 20px;
    .argentina{
        color: rgb(10, 10, 10);
    }
    .brasil{
        color: rgb(19, 20, 20);
    }
    .espanha{
        color: rgb(4, 4, 4);
    }
}

.Sobre-textos{

}

.Sobre-imagem{
      width: 50%;
      height: 500px;
      border-radius: 24px;
      gap: 30px;

}

.Lendas{
    
}

.titulos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:bisque;
    color: rgb(0, 0, 0);
    margin-top: 30px;
}

.imagens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.fotos{
    display: flex;
        width: 450px;
        height: 400px;
        border-radius: 24px;
        align-items: center;
        margin-top: 20px;
    }


    .texto{
        p{
            display: flex;
            align-items: center;
            width: 450px;
    }
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}